pkgbase = ckdeps
	pkgdesc = Beautiful GTK4 system deployment wizard for Arch-based distros
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/goodborn/ckdeps-personal
	arch = any
	license = GPL-3.0-or-later
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = librsvg
	depends = flatpak
	depends = pacman
	optdepends = yay: AUR package installation support
	optdepends = paru: Alternative AUR helper

pkgname = ckdeps
