pkgbase = ckdeps
	pkgdesc = Beautiful GTK4 system deployment wizard for Arch-based distros
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/goodborn/ckdeps
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = flatpak
	depends = pacman
	optdepends = yay: AUR package installation support
	optdepends = paru: Alternative AUR helper
	source = ckdeps-1.0.0.tar.gz::https://github.com/goodborn/ckdeps/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = ckdeps
